@font-face {
  font-family: 'Edmund';
  src: local('Edmund Texture'), local('Edmund-Texture'),
      url('/public/fonts/Edmund-Texture.woff2') format('woff2'),
      url('/public/fonts/Edmund-Texture.woff') format('woff'),
      url('/public/fonts/Edmund_Texture.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-edmund {
  font-family: "Edmund", sans-serif;
  font-size: 60px;
}

.st0 {
  fill: #004f9d
}
.st1 {
  fill: #fff
}

.st2 {
  fill: #589441
}

.st3 {
  fill: #feda80
}

.st4 {
  fill: none;
  stroke: #5f6f72;
  stroke-width: 7.7708
}

.st5 {
  fill: #a61e2e
}

.st6 {
  fill: #4a853e
}

.st7 {
  fill: #020202
}
.st8 {
  fill:#F8B333;
}